@charset "utf-8";

@font-face {
    font-family: "Audiowide", sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Audiowide');
    font-weight: 400;
    font-style: normal;
}



